.button-custom{
    background-color: rgb(248, 68, 100);
    border: rgb(248, 68, 100);
    width: fit-content !important;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    margin: 0.5rem 0px;
    font-size: 14px;
}