.header{
    display: flex;
    width: 100%;
    background-color: rgb(51, 53, 69);
    justify-content: space-between;

    .header-right, .header-left{
        display: flex;
        width: 100%;
        align-items: center;
    }

    .header-right{
        justify-content: flex-end;

        div:first-child{
            width: 50%;
        }
        div{
            margin-right: 2.5rem;
        }

        .dropdown{
            padding: 5px;
            border-radius: 5px;
            width: 100%;
        }
    }

    .logo{
        width: 20%;
        height: auto;        
    }
}

