.homepage{
    background-color: rgb(235, 235, 235);

    .navigation-links{
        width: 100%;
        height: 40px;
        background-color: rgb(34, 37, 57);
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .navigation-left,.navigation-right{
            font-size: 14px;
            text-align: center;

            span{
                margin: 0 10px;
            }
        }
    }

    .single-banner{
        padding: 2rem;

        img{
            width: 100%;
        }
    }
    .section{
        padding: 0 2rem;

        .recommented-movies{
            word-break: break-word;
            color: rgb(51, 51, 51);
            font-size: 24px;
            font-weight: 700;
            line-height: 1.17;
        }

        .movie-cards{
            display: flex;
            margin: 1rem;
            overflow: hidden;

            .movie-card-wrapper{
                margin: 0 1rem;

                .movie-card{                
                    height: 315px;
                    width: auto;
                    position: relative;
    
                    img{
                        //max-width: 100%;
                        max-height: 100%;
                    }
    
                    .card-bottom{
                        background-color: black;
                        color: #fff;
                        font-size: 15px;
                        font-weight: 400;
                        display: flex;
                        justify-content: flex-start;
                        padding: 0.2rem;
                        position: absolute;
                        bottom: 0px;
                        width: 100%;
                        align-items: center;
    
                        .rating{
                            display: flex;
                            margin-right: 1rem;
                            align-items: center;
                        }
                    }
                }

                .movie-card-bottom{
                    display: flex;
                    flex-direction: column;
                    margin-top: 1rem;

                    .movie-name{
                        font-size: 18px;
                        font-weight: 500;
                    }
                    .movie-genre{
                        font-size: 15px;
                        font-weight: 400;
                        color: grey;
                        margin-top: 0.5rem;
                    }
                }
            }

            
        }

        .scroll-button-wrapper{
            display: flex;
            justify-content: space-between;
            position: absolute;
            margin-top: -20%;
            width: 95vw;

            .left-button,.right-button{
                border-radius: 50%;
                background: grey;
                display: flex;
                align-items: center;
                opacity: 70%;

                svg{
                    height: 3.5rem;
                    width: 3rem;
                }
            }

            .right-button{
                margin-left: auto;
            }
        }

        .live-event-list{
            display: flex;
            margin: 1rem;

            .live-event-item{
                width: 220px;
                height: 250px;
                background-image: url("../../assets//event.jpg");
                margin-right: 1rem;
                padding: 1rem;

                .heading{
                    text-transform: uppercase;
                    color: #fff;
                    font-size: 26px;
                }

                .sub-text{
                    color: #fff;
                    font-size: 18px;
                }
            }
        }        
    }

    .margin-top{
        margin-top: 2rem;
    }

    
}